/* CSS Reset - Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------
   Font Styles
-------------*/
h1, h2, h3, h4, p, a{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5625em;
}
 em{
   font-weight: 700;
 }

h1{
  font-size: 175%;
}

h2{
  font-size:150%;
  font-weight:500;
}

h3{
  font-size: 125%;
}
h4{
  font-size: 125%;
  font-weight:500;
}
p{
  font-size: 100%;
}

/* ------------
   Navigation
---------------*/
header{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding:0 3%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  padding:0 2%;
  border-left: 2px solid #bbb;
}

li h2{
  text-transform: uppercase;
}

.nav-left{
  width:30%;
}
.nav-right{
  width: 50%;
  text-align: right;
}

/* ----------------
   Body Styles & repeated properties
------------------ */

.container{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}

.course-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 2%;
}

.profile-pic{
  height: 6.25em;
  width:6.25em;
  border-radius: 50%;
  flex-basis:6.25em;
	padding: 5%;
}

.bottom-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-evenly;
  margin: 2%;
	padding: 5%;
	border-top: 2px solid #bbb;
}

/* --------------
    courses.html
-----------------*/
.course-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
	flex-basis: 40%;
  background-color: #fdfdfd;
  border: 2px solid #bbb;
  margin: 2%;
}
.course-left, .course-right{
  padding: 3%;
}
.course-right{
  border-left: 2px solid #bbb;
  flex-basis: 55%;
}

/* ---------------
   teachers.html
----------------- */
.teacher-box{
  display:flex;
  flex-flow: column wrap;
  justify-content: space-around;
  flex-basis: 30%;
  background-color: #74ACAC;
  padding:.5%;
  margin: 1%;
}

.teacher-name{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.teacher-courses, .teacher-rating{
	text-align: center;
}


/*------------------
  students.html
------------------*/
.student-profile{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex-basis: 28%;
	background-color: #fafafa;
	margin: 2%;
}

.student-name{
	display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.student-left{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	padding-right: 3%;
}
.student-right{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	padding-left: 3%;
}
/* .group-left{
	text-align:right;
}
.group-right{
	text-align:left;
} */
